*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
nav{
    position: fixed;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    border: 1px solid lightgray;
} 
img{
    height: 80px;
    width: 80px;
    margin: 0px 20px;
}
.sdj{
    padding-right: 15px;
}
#b{
    height: 40px;
    width: 40px;
    margin-top: 18px;
}
div{
    align-content: center;
}
a{
    font-style: none;
    font-size: 25px;
    padding-right: 100px;
    align-content: center;
}
.a1{
    text-align: center;
    margin-top: -120px;
    margin-left: 350px;
    width: 780px;
    height: 600px;
    font-size: 44px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}
.a2{
    text-align:center;
    font-size: 25px;
    margin-top: -250px;
    margin-left:340px;
    width: 800px;
    height: 200px;
    font-weight: 600;
}
.a3{
    margin-top: -80px;
    height: 800px;
    width: 1300px;
    margin-left: 100px;
    border-radius: 20px;}
.a4{
    margin-top: 50px;
    margin-left: 320px;
    font-weight: 600;
}
.a5{
    margin-top: 120px;
    margin-left: -137px;
    font-weight: 500;
    color: lightslategray;
}
.a6{
    margin-top: 30px;
    margin-left: 320px;
    font-size: 22px;
    width: 950px;
}
.a7{
    margin-top: 50px;
    margin-left: 320px;
    font-size: 32px;
    font-weight: 900;
}
.a8{
    width: 1000px;
    margin-top: 30px;
    margin-left: 320px;
    font-size: 24px;
    font-weight: lighter;
    font-style: italic;
}
.a9{
    margin-top: 30px;
    margin-left: 320px;
    font-weight: 900;
    font-size: 24px;
}
.a10{
    margin-top: 30px;
    margin-left: 320px;
    margin-right: 1000px;
    font-weight: 900;
    font-size: 18px;
    color: rgb(55, 55, 55);
}
.a11{
    margin-top: 30px;
    margin-left: 320px;
    margin-right: 1000px;
}
li{
    width: 400px;
    display: block;
    padding: 10px 0px;
    font-size: 24px;
    list-style:circle;
}